<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="abs-center" mode="ios">
    <ion-card-content>
      <form [formGroup]="password" (submit)="send()" autocomplete="nope">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" class="w-100">Contraseña actual</ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <input autocomplete="new-password" class="w-100 p-1 border border-dark border-opacity-25 rounded-2" type="password"
                formControlName="actual" name="actual">
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" class="w-100">Nueva contraseña</ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <input autocomplete="new-password" class="w-100 p-1 border border-dark border-opacity-25 rounded-2" type="password"
              formControlName="nueva" name="nueva">
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" class="w-100">Repita la nueva contraseña</ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <input autocomplete="new-password" class="w-100 p-1 border border-dark border-opacity-25 rounded-2" type="password"
              formControlName="repetida" name="repetida">
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4" size-sm="3">
              <ion-button [disabled]="password.invalid" type="submit"  expand="block" size="small" shape="block">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
