<ion-header mode="md">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="5">
        <ion-item lines="none" class="perfil" (click)="profile()" button detail="false">
          <ion-avatar slot="start">
            <img [src]="user.socio.foto" *ngIf="fotoVacia(user)" />
          </ion-avatar>
          <ion-label>
            <ion-text color="light">
              <h2>Perfil de Usuario</h2>
            </ion-text>
            <ion-text color="light">
              <h3>Cuenta • {{user?.usuario}}</h3>
            </ion-text>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="5">
        <ion-item color="tertiary" lines="none" (click)="reclamos()" button detail="false">
          <ion-label color="light">Reclamos</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="5">
        <ion-item color="tertiary" lines="none" (click)="solicitudes()" button detail="false">
          <ion-label color="light">Solicitudes</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="5">
        <ion-item color="tertiary" lines="none" (click)="cobros()" button detail="false">
          <ion-label color="light">Cobros</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="5">
        <ion-item color="danger" lines="none" (click)="cerrarSesion()" button detail="false">
          <ion-label color="light">Cerrar sesión</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="12" size-sm="5"> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
