<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>Socio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="send()" [disabled]="usuarioForm.invalid">
        <ion-icon name='checkmark-circle'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Ingrese los datos del nuevo socio</ion-card-title>
    </ion-card-header>
    <div class="img-wrapper">
      <img class="lazyload" [src]="previsualizacion" class="border border-1 border-dark rounded-3" />
      <ion-button color="light">
        <ion-input class="FileUpload" accept=".jpg,.png,.jpeg" type="file" (change)="capturarFile($event)"></ion-input>
        <ion-icon slot="icon-only" name="camera-outline" color="medium"></ion-icon>
      </ion-button>
    </div>
    <ion-card-content>
      <ion-text color="dark">
        <form [formGroup]="usuarioForm" class="was-validation" autocomplete="off">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="3" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">CI:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="9" size-sm="6">
                <input #dato (keyup)="input(dato.value)" formControlName="ci" name="ci" type="number"
                class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" />

              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">Nombres:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <input formControlName="nombres" name="nombres" type="text"
                  class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">Apellidos:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <input formControlName="apellidos" name="apellidos" type="text"
                  class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">Celular:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <input formControlName="celular" name="celular" type="number"
                  class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">email:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" formControlName="correo" name="correo" type="email"
                  class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" />
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="5">

                <ion-text color="dark">
                  Activo:
                </ion-text>
                <input class="w-25 p-1 border border-dark border-opacity-25 rounded-2 text-end" formControlName="activo"
                  name="activo" type="checkbox"/>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <ion-text color="dark">
                  <h6 class="75">Fecha de nacimiento:</h6>
                </ion-text>
                <input [max]="fechaMax" formControlName="fechaNac" name="fechaNac" type="date"
                class="w- p-1 border border-dark border-opacity-25 rounded-2 text-end" required />
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="5" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">Cuenta de usuario:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="6" size-sm="6">
                <ion-text color="medium">
                  <h6 class="w-100 text-end">
                    {{ user }}
                  </h6>
                </ion-text>
              </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-col size="12" size-sm="5">
                <ion-text color="dark">
                  <h6 class="w-100">Dirección:</h6>
                </ion-text>
              </ion-col>
              <ion-col size="12" size-sm="6">
                <input  formControlName="direccion" name="direccion" type="text"
                  class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.was-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
