<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
    <ion-title>Medidor</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="verificaRol()" (click)="editar()">
        <ion-icon [name]="iedit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="ios" >
    <ion-card-header>
      <ion-card-title>Medidor</ion-card-title>
    </ion-card-header>
    <ion-text color="dark">
      <form [formGroup]="medidorForm">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6" size-sm="5">
              <ion-text color="dark" class="">ID Socio:</ion-text>
            </ion-col>
            <ion-col size="6" size-sm="6">
              <ion-text color="medium" class="rounded-2 border-opacity-25">
                <h6 class="text-end">
                  {{medidor?.idSocio.id}}
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" class="">Nombres: </ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-text color="medium">
                <h6 class="text-end">
                {{medidor?.idSocio.nombres}}
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" class="dark">Apellidos: </ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-text color="medium">
                <h6 class="text-end">
                {{medidor?.idSocio.apellidos}}
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" class="col-4">Serial:</ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <input formControlName="serial" name="serial" type="text" autocomplete="off"
                class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" required>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark">Marca:</ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <input formControlName="marca" name="marca" type="text" autocomplete="off"
                class="w-100 p-1 border border-dark border-opacity-25 rounded-2 text-end" required>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-sm="5">
              <ion-text color="dark" >Registro Inicial:</ion-text>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <input formControlName="regInic" name="regInic" type="number" autocomplete="off"
                class="w-100  border border-dark border-opacity-25 rounded-2 text-end" required>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-center">
            <ion-col size="6" size-sm="5">
              <ion-text color="dark">Fecha de Instalación:</ion-text>
            </ion-col>
            <ion-col size="6" size-sm="6">
              <ion-text color="medium">
                <h6 class="text-end">
                {{medidor?.fechaInst | date:"dd/MM/yyyy"}}
                </h6>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-text>
  </ion-card>
</ion-content>
