<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons size="small" slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Consumos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="menuPop($event)" *ngIf="verificaRol()">
        <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class=" contenido">
    <div class="abs-center"  *ngIf="!loaded">
      <ion-list lines="none" detail="false">
        <ion-item  button *ngFor="let consumo of list" detail="false">
            <ion-label>
              <ion-text >
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-text>
              <ion-text>
                <ion-skeleton-text [animated]="true"></ion-skeleton-text>
              </ion-text>
            </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="abs-center"  *ngIf="loaded">
      <ion-list lines="none">
        <ion-item *ngFor="let consumo of list" button (click)="popItemConsumo($event, consumo)">
            <ion-label>
              <ion-text  color="light" class="font-sans-serif">
                Lectura:
              </ion-text>
              <ion-text class="text-dark font-sans-serif">{{consumo?.lectura | number: '0.1-2' }}</ion-text>
              <br>
              <ion-text color="light" class="font-sans-serif">
                Fecha:
              </ion-text>
              <ion-text class="text-dark font-sans-serif">{{consumo?.fecha | date:'dd/MM/yyyy'}}</ion-text>
            </ion-label>
        </ion-item>
      </ion-list>
    </div>

  </div>
</ion-content>
