<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="visibleForm()">
      <ion-button (click)="editar()">
        <ion-icon [name]="iedit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="abs-center" mode="ios">
    <ion-card-content>
      <ion-card-title>
        Reclamo
      </ion-card-title>
      <div >
        <div class="input-group-sm mb-1">
          <ion-text color="dark">Fecha:</ion-text>
          <ion-text> {{reclamo?.fecha  | date:"dd/MM/yyyy"}}</ion-text>
        </div>
        <div class="input-group-sm mb-1" *ngIf="visibleForm()">
          <ion-text color="dark">Socio:</ion-text>
          <ion-text> {{reclamo?.idSocio.nombres}} {{reclamo?.idSocio.apellidos}}</ion-text>
        </div>
      </div>
      <div >
        <div class="input-group-sm mb-1">
          <ion-text color="dark">Descripción:</ion-text><br>
          <ion-text>{{reclamo?.detalle}}</ion-text>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="abs-center" mode="ios" *ngIf="!visibleForm() && reclamo?.atendido">
    <ion-card-content>
      <ion-card-title>
        Respuesta
      </ion-card-title>
      <div >
        <div class="input-group-sm mb-1">
          <ion-text color="dark">Fecha:</ion-text>
          <ion-text> {{reclamo?.fechaAtencion  | date:"dd/MM/yyyy"}}</ion-text>
        </div>

        <div >
          <div class="input-group-sm mb-1">
            <ion-text color="dark">Detalle:</ion-text><br>
            <ion-text>{{reclamo?.resultado}}</ion-text>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="abs-center" mode="ios" *ngIf="visibleForm()">
    <ion-card-content>
      <ion-card-title>
        Respuesta
      </ion-card-title>
      <form [formGroup]="reclamoForm">
        <div class="input-group-sm mb-1">
          <ion-text color="dark">Fecha:</ion-text>
          <ion-text> {{reclamo?.fechaAtencion | date:"dd/MM/yyyy"}}</ion-text>
        </div>
        <div >
          <div class="input-group-sm mb-1">
            <ion-text color="dark">Detalle:</ion-text><br>
            <ion-textarea [readonly]="!edit" placeholder="Escribe aquí tu respuesta" class="p-1 border border-dark rounded-2 border-opacity-100" formControlName="resultado" name="resultado" [autoGrow]="true" required>
            </ion-textarea>
          </div>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
