.contenido {
    height: 100%;
    width: 100%;
}

.abs-center {
    display: flex;
    justify-content: center;
    // height: 100%;
}

ion-item {
    --background: linear-gradient(90deg, #1CB5E0 0%, #4b5dfb 100%);
    --border-radius: 0.5em;
    margin-bottom: 5px;
    // margin-left: 3%;
    // margin-right: 3%;
}

ion-list {
    width: 100%;
    max-width: 600px;
    background: none;
}
ion-toolbar {
    --background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    --color: #ffffff;
}

.texto {
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
}
