<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title>Comunicado</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="verificaRol()" (click)="editar()" [disabled]="disabled()">
        <ion-icon [name]="iedit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="abs-center" mode="ios">
    <ion-card-content>
      <form class="row g-3"  [formGroup]="comunicadoForm">
        <div class="input-group-sm mb-1">
          <ion-text color="dark">Descripción:</ion-text><br>
          <ion-textarea [readonly]="lectura" placeholder="Escribe tu comunicado" class="p-1 border border-dark rounded-2 border-opacity-50" formControlName="descripcion" name="descripcion" [autoGrow]="true" required>
          </ion-textarea>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6" size-sm="6">
              <ion-text class="w-100 form-label"  color="dark">Fecha Inicial: </ion-text>
            </ion-col>
            <ion-col size="6" size-sm="6">
              <input [readonly]="lectura" [min]="today | date: 'yyyy-MM-dd'" [value]="today | date: 'yyyy-MM-dd'" type="date"
                class="w-100 p-1 border border-dark rounded-2 border-opacity-50 text-end" required>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" size-sm="6">
              <ion-text class="w-100 form-label" color="dark">Vigencia(días):</ion-text>
            </ion-col>
            <ion-col size="6" size-sm="6">
              <input [readonly]="lectura" type="number" class="w-100 p-1 border border-dark border-opacity-50 rounded-2 text-end"
                formControlName="vigencia" name="vigencia" placeholder="" required>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
