<ion-header mode="md" class="ion-no-border absolute">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="inicio()">Inicio</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="full">
  <div class=" contenido">
    <div class="abs-center">
      <form (submit)="login()" [formGroup]="user" class="rounded-3 pb-5  form input-group mb-3">
        <ion-card mode="ios" class="pt-4 pb-4">
          <ion-card-header>
            <ion-card-title>Bienvenidos a Comite el Rancho</ion-card-title>
            <br>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">

              <h6 class="w-100 text-center fw-bold">Iniciar sesión</h6>
              <div class="input-group mb-3 border border-2 border-dark rounded-3">
                <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
                <input type="text" class="form-control form-control-sm shadow-sm" formControlName="username"
                  name="username" aria-describedby="helpId" placeholder="Usuario">
              </div>
              <div class="input-group mb-3 border border-2 border-dark rounded-3">
                <span class="input-group-text"><i class="bi bi-fingerprint"></i></span>
                <input [type]="type" class="form-control form-control-sm shadow-sm" formControlName="password"
                  name="password" aria-describedby="helpId" placeholder="Contraseña">
                <span (click)="isVisible()" class="input-group-text"><i [class]="visible"></i></span>
              </div>
              <div class="d-grid gap-2 col-3 mx-auto">
                <button type="submit" [disabled]="user.invalid"
                  class="btn btn-primary btn-sm shadow-lg">Ingresar</button>
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
  </div>
</ion-content>
