<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Comunicados</ion-title>
    <ion-buttons slot="end">
    <ion-button (click)="menuPop($event)" *ngIf="verificaRol()">
      <ion-icon name="ellipsis-horizontal-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class=" contenido">
      <div class="abs-center" *ngIf="loaded">
        <ion-list lines="none">
          <ion-list-header mode="ios" *ngIf="list.length>0">Disponibles</ion-list-header>
            <ion-item *ngFor="let data of list " (click)="verComunicado(data,$event)" button detail="false" >
              <ion-label>
                <ion-text color="light">
                  <h2 class="font-sans-serif">{{data?.descripcion}}</h2>
                </ion-text>

                  <ion-text color="warning">
                    <h3 class="font-sans-serif">Publicación: {{data?.fechaInicio | date:"dd/MM/yyyy" }}</h3>
                  </ion-text>
                  <ion-text color="tertiary">
                    <h3 class="font-sans-serif">Vigencia: {{data?.vigencia}} días</h3>
                  </ion-text>
              </ion-label>
            </ion-item>
        </ion-list>
      </div>
      <div class="abs-center" *ngIf="!loaded">
        <ion-list lines="none">
          <ion-list-header *ngIf="list.length>0">
            <ion-skeleton-text [animated]="true" class="w-50 h-25"></ion-skeleton-text>
          </ion-list-header>
          <ion-item  *ngFor="let data of list ">
            <ion-label>
              <h2>
                <ion-skeleton-text [animated]="true" class="w-100 h-5"></ion-skeleton-text>
              </h2>
              <p class="m-0">
                <ion-text color="warning">
                  <h3>
                    <ion-skeleton-text [animated]="true" class="w-50 h-5"></ion-skeleton-text>
                  </h3>
                </ion-text>
                <ion-text color="tertiary">
                  <h3>
                    <ion-skeleton-text [animated]="true" class="w-50 h-5"></ion-skeleton-text>
                  </h3>
                </ion-text>
              </p>
            </ion-label>
          </ion-item>
      </ion-list>
      </div>
    </div>
</ion-content>
