
<ion-content [fullscreen]="true">
  <ion-toolbar class="border border-0 shadow-none">

    <ion-buttons slot="end">
      <ion-button (click)="inicioSesion()">
        <ion-icon color="light" slot="start" name="person"></ion-icon>
        <ion-text color="light">
          Iniciar sesión
        </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-title> -->
  <ion-text color="light">
    <h1>
      <strong>
        Bienvenidos a Rancho del Norte
      </strong>
    </h1>
  </ion-text>
  <!-- </ion-title> -->
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="9">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>Comunicados</ion-card-title>
            <ion-card-subtitle>Disponibles</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <p *ngFor="let comunicado of comunicados; let i=index;">
                <ion-card color="tertiary" *ngIf="i<3">
                  <ion-card-content>
                    <ion-label color="light">
                      {{comunicado?.descripcion}}
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </p>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="9">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>Tarifas</ion-card-title>
            <ion-card-subtitle>Disponibles</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <p *ngFor="let tarifa of tarifas; let i=index;">
                <ion-card color="tertiary" *ngIf="i+1<=5">
                  <ion-card-content>
                    <ion-label color="light">
                      <ion-text>
                        Consumo Maximo:{{tarifa?.consumoMax}}
                      </ion-text><br>
                      <ion-text>
                        Fecha Inicial de vigencia:{{tarifa?.fechaInic | date:"dd/MM/yyyy"}}
                      </ion-text><br>
                      <ion-text>
                        Costo unitario:{{tarifa?.costoUnit}}
                      </ion-text>
                    </ion-label>
                  </ion-card-content>
                </ion-card>
              </p>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <iframe id="mapa"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14854.92533374757!2d-64.75714349164232!3d-21.43980270601703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94064a2f8345401b%3A0x962599b815781abc!2sRancho%20Norte!5e0!3m2!1ses!2sbo!4v1670511585643!5m2!1ses!2sbo"
    width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe> -->
</ion-content>
