div {
  display: flexbox;
  min-height: 27px;
}

.date {
  width: 115px;
}
ion-card {
  // overflow: visible;
  // margin: 24px 0 24px;
  // position: relative;
  .img-wrapper {
    padding-top: 12px;
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 80px;
    height: 90px;

    img {
      border-radius: 1em;
      width: 80px;
      height: 80px;
    }
    ion-button {
      --border-width: 1px;
      --border-color: var(--ion-color-light-shade);
      --border-style: solid;
      --padding-start: 0;
      --padding-end: 0;
      --padding-bottom: 0;
      --padding-top: 0;
      --border-radius: 50%;
      height: 26px;
      width: 26px;
      z-index: auto;
      position: absolute;
      right: -12px;
      bottom: -12px;
      .FileUpload {
        opacity: 0;
        position: absolute;
        z-index: 0;
      }
      ion-icon {
        width: 20px;
        height: 20px;
        z-index: 0;
        position: absolute;
        // text-align: center;
        opacity: 1;

      }

    }
  }
}


ion-toolbar {
  --background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --color: #ffffff;
}
// .medidores{
//   --border-radius: 0.5em;
//   margin-bottom: 5px;
//   margin-left: 3%;
//   margin-right: 3%;
//   --background: #3862b6;

// }
