<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="abs-center" mode="ios">
    <ion-card-content>
      <ion-card-title>
        Nueva Solicitud
      </ion-card-title>
      <form [formGroup]="solicitudForm" (submit)="enviar()">
        <div class="input-group-sm mb-1">
          <ion-text color="dark">Descripción:</ion-text><br>
          <ion-textarea  placeholder="Escribe aquí tu solicitud" class="p-1 border border-dark rounded-2 border-opacity-100" formControlName="detalle" name="detalle" [autoGrow]="true" required>
          </ion-textarea>
        </div>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4" sizeSm="3">
              <ion-button size="small" color="primary" type="submit" expand="block">
                Enviar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
