.atendido{
  --background: linear-gradient( 109.6deg,  rgba(33,103,43,1) 11.3%, rgba(117,162,61,1) 91.1% );
}
.no-atendido{
  --background: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% );

}
.contenido{
  height: 100%;
  width: 100%;
}
.abs-center {
  display: flex;
  // align-items: center;
  justify-content: center;
  // height: 96%;
  // width: 100%;
}
ion-list{
  height: auto;
  width: 100%;
  max-width: 600px;
  background: none;
}
ion-skeleton-text {
  --border-radius: 2em;
  --background: rgba(0, 4, 255, 0.065);
  --background-rgb: 0, 4, 255;
}
ion-toolbar {
  --background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --color: #ffffff;
}
