/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~swiper/scss';
// @import '~@ionic/angular/css/ionic-swiper';
.custom-popover {
  // --max-height: 100%;
  --max-width: 140px;

  &::part(backdrop) {
    background-color: black;
  }

  &::part(content) {
    font-weight: 600;
    padding: 0px;
  }
}
.custom-popover-cobro{
  --max-width: 120px;

  &::part(backdrop) {
    background-color: black;
  }

  &::part(content) {
    font-weight: 600;
    padding: 0px;
  }
}
.custom-comunicado{
  // --max-height: 100%;
  --max-width: 160px;
}
.custom-item-comunicado{
  // --max-height: 100%;
  --max-height: auto;
  --max-width: 130px;
}
.custom-popover-consumo {
  --max-height: auto;
  --max-width: 130px;

  &::part(backdrop) {
    background-color: black;
  }

  &::part(content) {
    font-weight: 600;
    padding: 0px;
  }
}
ion-modal.custom-modal {
  height: auto;
  &::part(backdrop) {
    background-color: black;
    opacity: 0.1;
  }

}

ion-modal.modal-consumo {
  --width: 100%;
  --height: auto;
  --border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.custom-toast {
  --width: 80%;
  --max-width: 200px;
}

ion-alert.custom-alert {
  width: 100%;
}

.custom-alert.alert-button-group {
  width: 70%;
}
