<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons size="small" slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Cobros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-content>
      Cobros totales: {{list.length}}
    </ion-card-content>
  </ion-card>
      <ion-card mode="ios" *ngFor="let cobro of list">
        <ion-card-header>
          <ion-list>
            <ion-item lines="none">
              <ion-label>
                <ion-text color="dark">
                  Referencia:
                  <ion-text color="medium">{{cobro?.ref}}</ion-text>
                </ion-text><br>
                <ion-text color="dark">
                  Monto:
                </ion-text>
                <ion-text color="medium">{{cobro?.monto | number: '0.1-2'}} Bs</ion-text>
                <br>
                <ion-text color="dark">
                  Fecha:
                  <ion-text color="medium">{{cobro?.fechaHora | date: 'dd/MM/yyy'}} </ion-text>
                </ion-text>
                <ion-text color="dark">
                  Hora:
                  <ion-text color="medium">{{cobro?.fechaHora | date: 'hh:mm a'}}</ion-text>
                </ion-text>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-header>
      </ion-card>
</ion-content>
