.contenido{
  height: 100%;
  width: 100%;
}
.abs-center {
  display: flex;
  // align-items: center;
  justify-content: center;
  // width: 100%;
}
ion-list{
  width: 100%;
  // max-width: 580px;
}
ion-toolbar {
  --background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
  --color: #ffffff;
}
